@page
@model IMDBRazorPages.Pages.Talents.CreateTalentModel

@{
    ViewData["Title"] = "CreateTalent";
}

<h1>Add New Talent</h1>

<h4>Talent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Talent.talent_id" class="control-label"></label>
                <input asp-for="Talent.talent_id" class="form-control" />
                <span asp-validation-for="Talent.talent_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Talent.primary_name" class="control-label"></label>
                <input asp-for="Talent.primary_name" class="form-control" />
                <span asp-validation-for="Talent.primary_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Talent.birth_year" class="control-label"></label>
                <input asp-for="Talent.birth_year" class="form-control" />
                <span asp-validation-for="Talent.birth_year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Talent.death_year" class="control-label"></label>
                <input asp-for="Talent.death_year" class="form-control" />
                <span asp-validation-for="Talent.death_year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./GetTalents">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
